@use 'variables' as *;
@use 'sass:map';

// Theme generation
@each $class, $colors in $color-map {
  .#{$class} {
    --accent-color: #{map.get($colors, accent-color)};
    --secondary-color: #{map.get($colors, secondary-color)};
    --bg-color: #{map.get($colors, bg-color)};
    --text-color: #{map.get($colors, text-color)};
    --accent-gradient-color: #{map.get($colors, accent-gradient-color)};
  }
  
  body:has(.#{$class}) {
    background: #{map.get($colors, bg-color)};
  }
}

// Global theme utilities
.has-gradient-accent {
  .button {
    background: var(--accent-gradient-color);
    color: var(--bg-color);
  }
  
  .month-badge,
  .income-header {
    background: var(--accent-gradient-color);
    color: var(--bg-color);
  }
  
  .month-stats > div {
    border: none;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      margin: -5px;
      background: var(--accent-gradient-color);
      
      @media only screen and (max-width: $breakpoint-sm) {
        margin: -4px;
      }
    }
    
    @media only screen and (max-width: $breakpoint-sm) {
      border: 4px solid var(--accent-color);
      
      &:before {
        margin: -4px;
      }
    }
  }
} 