@use '../../styles/variables' as *;

.table-container {
  overflow-x: auto;
  
  &.loan-table {
    overflow-x: auto;
  }
}

.expenses-table {
  width: 100%;
  text-align: left;
  margin-bottom: $spacing-sm; // Reduced from $spacing-lg to minimize extra space
  
  thead tr {
    background-color: var(--secondary-color);
  }
  
  th {
    padding: 0 $spacing-xs;
    position: relative;
    
    &.sortable {
      &:before,
      &:after {
        border: 5px solid transparent;
        content: '';
        right: $spacing-xs;
        top: 50%;
        position: absolute;
      }
      
      &:before {
        border-bottom-color: var(--accent-color);
        margin-top: -10px;
      }
      
      &:after {
        border-top-color: var(--accent-color);
        margin-top: 2px;
      }
      
      &.ascending:after {
        border: none;
      }
      
      &.descending:before {
        border: none;
      }
    }
  }
  
  td {
    padding: 0 6px;
  }
  
  tr {
    height: 50px;
    background-color: var(--bg-color);
    
    &:nth-of-type(even) {
      background-color: var(--secondary-color);
    }
  }
}

.transaction-item {
  position: relative;
  
  &.new::after,
  &.updated::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
    transition: opacity 2s ease-out;
    animation: expandBorder 2s forwards;
  }
  
  &.removed {
    animation: highlight-removed forwards 1s ease-out;
  }
}

// Responsive design
@media only screen and (min-width: $breakpoint-sm) {
  .expenses-table td {
    min-width: 100px;
  }
}

@media only screen and (max-width: $breakpoint-sm) {
  .desktop-only {
    display: none;
  }
  
  th.sortable {
    min-width: 75px;
  }
} 