@use '../../styles/variables' as *;

@keyframes bubble-up {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

ul.suggestions {
  list-style: none;
  padding: 0;
  margin: 0;
  
  li {
    display: inline-block;
    padding: $spacing-xs $spacing-sm;
    margin: $spacing-xs;
    background: var(--secondary-color);
    animation: bubble-up 0.3s;
    
    &:hover {
      cursor: pointer;
      background: #323440;
    }
    
    &.selected-suggestion {
      border: 1px solid var(--accent-color);
    }
  }
} 