@use 'shared/styles/variables' as *;

.loan-details {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  li {
    flex: 1 1 100%;
    padding: $spacing-sm;
    box-sizing: border-box;
  }
}
