@import '../../styles/variables';

.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  row-gap: $spacing-sm;
  text-align: left;
  padding: 0 $spacing-xl;

  > * {
    background: var(--bg-color);
    height: 40px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    padding: $spacing-sm;
    min-width: 265px;
    border: 1px solid var(--accent-color);
    color: #fff;

    &::placeholder {
      color: #fff;
    }
  }
}

.user-settings {
  > * {
    height: 40px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: center;
    padding: $spacing-sm;
    min-width: 265px;
    margin-top: $spacing-lg;
  }
}

// Responsive design
@media only screen and (max-width: $breakpoint-sm) {
  .filters {
    text-align: center !important;
    flex-direction: column;
    
    > *,
    .user-currency select {
      width: 100%;
    }
  }
} 