@use '../../styles/variables' as *;

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.full-calendar-container {
  width: 100%;
}

.prev-btn,
.next-btn,
.today-btn {
  margin: $spacing-xs;
  padding: 8px 16px;
  border: none;
  font-size: $font-size-sm;
  cursor: pointer;
  transition: background-color $transition-normal ease;
}

.tab-buttons {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-sm;
  overflow: auto;
  display: flex;
  justify-content: center;
}

.tabs-titles {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: x mandatory;
  
  .tab-title {
    min-width: 150px;
    padding: $spacing-sm;
    
    &.active {
      background-color: var(--accent-color);
    }
  }
} 